/*
 * CSS File for the solution
 * Tutorial 02
 * Step 03
 * Instructions are in the comments below
 */


/* CSS Colour codes you can use for this exercise */
/*
--red-pantone: #e63946ff;
--honeydew: #f1faeeff;
--non-photo-blue: #a8dadcff;
--cerulean: #457b9dff;
--berkeley-blue: #1d3557ff;
*/

/* Styles for the HTML Body element */

body {
  background-color:rgb(167, 171, 166)
}

header {
  /* Set the text colour, margins and padding */
  color:rgb(224, 216, 205);
  margin: 1rem 1.5rem 1.5rem 1.5rem;
  padding: 1rem;
  border: 1rem solid #242121;
  background-color:#4e4952;
}

header .site-title {
  font: size 30px;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:3px;

}

header nav {
  margin: 30px;
}

header nav ul {
  list-style:none;
}

header a {
  color:rgb(156, 160, 172);
  text-decoration:none;
}

header a:hover {
  text-decoration:underline;
}

/* GENERAL SECTION STYLES */

/* Now let's setup the generic main > section styles */
/* These are styles that are applied just to the section elements
 * that are direct children of the main element
 *
 * <main>
 *   <section>...</section>
 *   <section>...</section>
 *   <section>...</section>
 * </main>
 */

main > section {
  margin: 1px;
  padding: 20px;
  background-color:#b19b9b;
  border-radius: 5px;
}

/* This fancy code removes the bottom margin from the last section */
main > section:last-child {
  margin-bottom: 0rem;
}

/* HERO SECTION STYLES */
main section.hero {
  padding: 10px;
  background-color:rgb(36, 39, 39);
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color:antiquewhite
}

main section.hero h1 {
  font-size: 30px;
  margin: 30px;
  color:rgb(194, 191, 186);
  letter-spacing: 1px;
  text-align:center;
}

main section.hero .secondary-heading {
  font-size:18px;
  text-align:center;
  margin: 10px 5px 5px 5px;
  letter-spacing: 2px;
  color:rgb(243, 241, 237)
}

main section.hero img {
  /* You don't need to modify anything here */
  border-radius: 1rem;
  width: 100%;
  max-width: 100%;
  height: 40rem;
  object-fit: cover;
  object-position: center center;
}


/* MENU SECTION STYLES */

/* Next up is the second section, which is our menu styles */

main section.menu {
  padding: 20px 15px 10px 50px;
  background-color:#464242;
  color:antiquewhite;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

main section.menu ul {
  list-style: none;
}

main section.menu ul li {
  padding: 10px;
  margin-top:0px;
  border-radius: 10px;
  background-color:#242121;
}

main section.menu li:nth-child(even) {
  background-color:rgb(158, 157, 159);
  color:#100b11;
}


/* TESTIMONIAL SECTION STYLES */

/* Almost done! The last section is our testimonial styles */

main section.testimonials {
  padding: 10px;
  background-color:rgb(229, 210, 179);
  border-radius: 8px;
}

main section.testimonials h2 {
  text-align:center;
  color:rgb(30, 31, 32);
  font-weight:750;
  font-size: 18px;
}

main section.testimonials img {
  width: 100%;
  max-width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

main section.testimonials blockquote {
  text-align:center;
  font-weight:700;
  font-size: 20px;
  padding: 10px;
  background-color:rgb(135, 147, 150) ;
  color:#f9faf9 ;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* AND THAT'S IT! YOU ARE DONE. CONGRATULATIONS. POST YOUR LINK! */


/*
 * DONT MODIFY THE CODE
 * BELOW THIS LINE
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #242121;
  font-size: 1.2rem;
  line-height: 1.6;
}

main {
  margin: 5rem 0rem;
  padding: 1rem;
}
